body{
    background-image: url(./ressources/background/dofus.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

h2{
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 5vw;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-shadow: 5px 5px 5px black;
}

h3{
    position: absolute;
    text-align: center;
    min-width: 100%;
    font-size: 4vw;
    margin-top: 15%;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-shadow: 5px 5px 5px black;
}

h4{
    position: absolute;
    text-align: center;
    font-size: 2vw;
    margin-top: 30%;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-shadow: 5px 5px 5px black;
}

#description{
    width: 25%;
    height: 40em;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-left: 5%;
    margin-top: 5%;
    position: absolute;
    border-radius: 5%;
}

#description:hover{
    transform: scale(1.1);
    transition: all 1s ease-in-out;
}

#details{
    font-size: 0.8vw;
}

footer{
    text-align: center;
}

.cacher{
    visibility: hidden;
}

.visible{
    visibility: visible;
}


footer img{
    height: 5%;
    width: 5%;
    position: relative;
    margin-top: 42%;
    box-shadow: 5px 5px 5px black;
    cursor: pointer;
    border-radius: 50%;
}


.fondcra{
    background-image: url(./ressources/background/cra.jpg);
}

.fondeca{
    background-image: url(./ressources/background/eca.jpg);
}

.fondeni{
    background-image: url(./ressources/background/eni.jpg);
}

.fondenu{
    background-image: url(./ressources/background/enu.jpg);
}

.fondfeca{
    background-image: url(./ressources/background/feca.jpg);
}

.fondiop{
    background-image: url(./ressources/background/iop.jpg);
}

.fondsadi{
    background-image: url(./ressources/background/sadi.jpg);
}

.descricra{
    background-image: url(./ressources/background/description/cra.jpg);
}

.descrieca{
    background-image: url(./ressources/background/description/eca.jpg);
}

.descrieni{
    background-image: url(./ressources/background/description/eni.jpg);
}

.descrienu{
    background-image: url(./ressources/background/description/enu.jpg);
}

.descrifeca{
    background-image: url(./ressources/background/description/feca.jpg);
}

.descriiop{
    background-image: url(./ressources/background/description/iop.jpg);
}

.descrisadi{
    background-image: url(./ressources/background/description/sadi.jpg);
}

.characterDescription{
    position: absolute;
    margin-left: 5%;
    margin-top: 41%;
    color: white;
    font-size: 100%;
    width: 25%;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 0.6%;
    font-family: Arial, Helvetica, sans-serif;
}

#persoContainer{
  margin: auto;
}

#avatar{
    position: absolute;
    margin-top: 20%;
    margin-left: 50%;
    width: 12%;
    box-shadow: 5px 5px 10px black;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.7);
}

#fleche{
    position: absolute;
    margin-top: 33%;
    margin-left: 55%;
    width: 2%;
    cursor: pointer;
}